<?xml version="1.0"?>
<globals>
    <global id="resOut" value="${resDir}" />
    <global id="package" value="com.loodos.starter" />
    <global id="srcOut" value="${srcDir}/${slashedPackageName(packageName)}" />

</globals>
